/*   TOP PAGE     */
  
  #imageDalamo {
    margin-left: -15px;
    position: relative;
  }

  #myLogo {
    position: absolute;
    right: 15px;
    top: 430px;
    height: auto;
    width: 85px;
  }

  #hello {
    position: absolute;
    font-size: 150px;
    right: 200px;
    top: 168px;
    font-family: Montserrat;
    color: #000E8F;
  }

  #welcomeOne {
    position: absolute;
    font-size: 24px;
    right: 390px;
    top: 350px;
    font-family: Montserrat;
    color: #000E8F;
  }

  #welcomeTwo {
    position: absolute;
    font-size: 24px;
    right: 255px;
    top: 400px;
    font-family: Montserrat;
    color: #000E8F;
  }

/*    Menu       */
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*    About      */

#myLife {
    background-color: #e3ded8;
    text-align: justify;
    padding: 100px;
    margin: 0 -155px 0 -15px;
}

p {
    margin-bottom: 0;
    color: #000;
}

#p2, #p3 {
    margin-top: 15px;
}

/*    Projects    */

.flex-container {
    display: flex;
}

#catLink {
    position: absolute;
    writing-mode: vertical-rl;
    right: 5px;
    top: 1060px;
}

#createLink {
    position: absolute;
    writing-mode: vertical-rl;
    top: 1060px;
    left: 340px;
}

#iceLink {
    position: absolute;
    writing-mode: vertical-rl;
    top: 1060px;
    right: 420px;
} 

a {
    text-decoration: none;
}


/*    FOOTER     */

footer {
    background-color: black;
    color: white;
    padding: 40px;
    overflow: hidden;
    clear: both;
    position: relative;
    display: block;
    margin-top: -12px;
  }
  
  .leftFooter {
    display: inline-block;
    width: 60%;
    padding-right: 20px;
    max-width: 700px;
    text-align: left;
  }
  
  .rightFooter {
    float: right;
    text-align: right;
  }
  
  #footSpan {
    display: block;
    text-transform: uppercase;
    margin-bottom: 12px;
    line-height: 11px;
    letter-spacing: 3px;
    opacity: .5;
    color: white;
    font-size: 11px;
    font-family: 'replica-bold', sans-serif;
  }
  
  .leftfooter .rightFooter a {
    text-transform: uppercase;
    margin-right: 34px;
    line-height: 24px;
    letter-spacing: 4px;
    color: white;
    font-size: 12px;
    font-family: 'replica-bold', sans-serif;
  }
  
  a {
    text-decoration: none;
    transition: all .3s;
    background: transparent;
    color: white;
    font-size: 30px;
  }

/*   Contacts   */

h1 {
    text-align: center;
    font-size: 72px;
    
}