/*   TOP PAGE     */
  
  #imageDalamo {
    margin-left: -15px;
  }

  #myLogo {
    position: absolute;
    right: 10px;
    top: 397px;
    height: auto;
    width: 85px;
  }

  #hello {
    position: absolute;
    font-size: 150px;
    right: 200px;
    top: 168px;
    font-family: Montserrat;
    color: #000E8F;
  }

  #welcomeOne {
    position: absolute;
    font-size: 24px;
    right: 390px;
    top: 350px;
    font-family: Montserrat;
    color: #000E8F;
  }

  #welcomeTwo {
    position: absolute;
    font-size: 24px;
    right: 255px;
    top: 400px;
    font-family: Montserrat;
    color: #000E8F;
  }

/*    About      */

#myLife {
    background-color: #e3ded8;
    text-align: justify;
    padding: 100px;
    margin-top: -3px;
}

p {
    margin-bottom: 0;
}

#p2, #p3 {
    margin-top: 15px;
}

/*    Projects    */

/* .wrapper {
    display: grid;
    grid-template-columns: 342px 342px 342px;
}

#catLink {
    position: absolute;
    writing-mode: vertical-rl;
    right: 10px;
    top: 10px;
}

#createLink {
    position: absolute;
    writing-mode: vertical-rl;
    top: 10px;
    left: 425px;
}

#iceLink {
    position: absolute;
    writing-mode: vertical-rl;
    top: 10px;
} 

a {
    text-decoration: none;
} */


/*    FOOTER     */

/* footer {
    background-color: black;
    color: white;
    padding: 40px;
    overflow: hidden;
    clear: both;
    position: relative;
    display: block;
    margin-top: -12px;
  }
  
  .leftFooter {
    display: inline-block;
    width: 60%;
    padding-right: 20px;
    max-width: 700px;
    text-align: left;
  }
  
  .rightFooter {
    float: right;
    text-align: right;
  }
  
  #footSpan {
    display: block;
    text-transform: uppercase;
    margin-bottom: 12px;
    line-height: 11px;
    letter-spacing: 3px;
    opacity: .5;
    color: white;
    font-size: 11px;
    font-family: 'replica-bold', sans-serif;
  }
  
  .leftfooter .rightFooter a {
    text-transform: uppercase;
    margin-right: 34px;
    line-height: 24px;
    letter-spacing: 4px;
    color: white;
    font-size: 12px;
    font-family: 'replica-bold', sans-serif;
  }
  
  a {
    text-decoration: none;
    transition: all .3s;
    background: transparent;
    color: white;
    font-size: 30px;
  } */