.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
}
h2 {
    background: white;
    font-size: 30px;
}
h1h2 {
    margin: 0;
    padding: .25em;
    font-size: 250%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
p {
    margin: 0;
    padding-bottom: .5em;
}
h1 {
    background: #ffffff;
    height: 43px;
}
.myname {
    width: 124px;
    border: 1px solid black; 
    margin-left: 180px;
    float: left;
  }
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 10px;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    color: white;
    background-color: #4caf50;
}
body {
    margin: 0;
    background: cyan;
  }
  
  /* Style the header */
  header {
      padding: 20px;
      text-align: center;
      background: black;
      margin-bottom: 10px;
  }
  container {
    float: left;
}
section {
    clear: both;
}
.content {
    width: 960px;
    margin: auto;
    border: 1px solid black;
    background: white;
}
form input {
                width: 500px;
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            }

 textarea {
     height: 250px;
     width: 500px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            }
.clearfix {
clear: both;
}
.box-1 {
    background: url(./assets/images/Hangman's_Knot-icon-Hangman-Noose-Rope-Knot.png);
    height: 100px;
    width: 100px;
}